<section class="block block-testimonial">
  <div class="container">
    <div class="block__header">
      <h2 class="block__heading">What our Customers are Saying</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        voluptate molestiae libero dicta dolores nisi!
      </p>
    </div>
    <div class="card testimonial">
      <div class="grid grid--cols-2">
        <div class="testimonial__image">
          <img
            src="/Images/testimonial.jpg"
            alt="Image of the Mosh Company CEO, smiling with his arms crossed against a plain background."
          />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--accent icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum velit
            magnam mollitia molestias sequi repellat nulla quis quia soluta ea.
          </p>
          <footer class="quote__footer">
            <div class="media">
              <div class="media__image quote__image">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Jhone Lumeo</h3>
                <p class="quote__company">Mosh Company ceo</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
